Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-optin.performance.Padding
HeaderFilterRegex: '^(src|tests|include)/'
FormatStyle: none
SystemHeaders: false
